STRAPI_API_URL=
STRAPI_API_TOKEN=
REVALIDATE_SECRET=


# 前端页面用到的 token, 这个是会硬编码到 js 中的, 任何人可见的. 这个 token
# 一定要限制范围, 用来提交表单
NEXT_PUBLIC_DANGER_HARDCODE_TO_JS_STRAPI_API_TOKEN=
NEXT_PUBLIC_SITE_URL=

# Set to "true" to block search engine crawling and sitemap generation
NEXT_PUBLIC_BLOCK_SEO=

