@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222;
}

@theme inline {
  --color-bg: var(--background);
  --color-fg: var(--foreground);
  --font-sans: var(--font-roboto);
  --color-primary: #222;
  --color-secondary: #999;
  --color-accent: #0076ee;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #222; */
/*     --foreground: #fff; */
/*   } */
/* } */

html {
  min-width: 375px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
}
