# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=WBoihvLF9kQLAbpMq+646w==,JedyWy5OI2KNXQTRCv26yw==,uyb4753dOYpehbW2ep4Chw==,0SBqx/+BLYRkJLs3/APMow==
API_TOKEN_SALT=AU5R1KPyVDA5+nGDWCIG4g==
ADMIN_JWT_SECRET=mU58slI9rzEggPnbVtyQjQ==
TRANSFER_TOKEN_SALT=MvghS4YbAduDBH06RiTSbw==
ENCRYPTION_KEY=rfazYCJ34SLI4SQNhWb8GA==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=data/data.db
JWT_SECRET=VNvC8KeEGKneqx3ITadp+A==
STRAPI_ADMIN_URL=http://localhost:1337/admin
NEXT_PUBLIC_SITE_URL=http://localhost:3000

SMTP_HOST=smtp.resend.com
SMTP_PORT=2465
SMTP_SECURE=true
SMTP_REQUIRE_TLS=true

SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_DEFAULT_FROM=

